<div class="row full-width">
  <ul class="nav nav-tabs">
    <li>
      <a class="nav-tab nav-tab-part1 text-center align-middle" id="employee-map-tab" href="" ng-click="part1()">Employee Map</a>
    </li>
    <li>
      <a class="nav-tab nav-tab-part2 text-center align-middle" id="key-metrics-tab" href="" ng-click="part2()">Key Metrics</a>
    </li>
    <li>
      <a class="nav-tab nav-tab-part3 text-center align-middle" id="customer-issues-tab" href="" ng-click="part3()">Customer Issues</a>
    </li>
  </ul>
</div>
<div class="row full-width">
  <footer class="footers navbar-fixed-bottom">
  </footer>
</div>