<div class="section-3">

    <input type="text" class="form-control" placeholder="Search" ng-model="searchData">

	<table class="table">
		<thead class="table-issues-head">
			<tr class="table-row">
		        <td>
		          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
		            Name
		            <span ng-show="sortType == 'name'" class="fa fa-caret-down"></span>
		          </a>
		        </td>
		        <td>
		          <a href="#" ng-click="sortType = 'email'; sortReverse = !sortReverse">
		            Email
		            <span ng-show="sortType == 'email'" class="fa fa-caret-down"></span>
		          </a>
		        </td>
		        <td>
		          <a href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse">
		            Description
		            <span ng-show="sortType == 'description'" class="fa fa-caret-down"></span>
		          </a>
		        </td>
		        <td>
		          <a href="#" ng-click="sortType = 'employee'; sortReverse = !sortReverse">
		            Employee
		            <span ng-show="sortType == 'employee'" class="fa fa-caret-down"></span>
		          </a>
		        </td>
		        <td>
		          <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
		            Status
		            <span ng-show="sortType == 'status'" class="fa fa-caret-down"></span>
		          </a>
		        </td>
		        <td>
		          <a href="#" ng-click="sortType = 'submitted'; sortReverse = !sortReverse">
		            Submitted
		            <span ng-show="sortType == 'submitted'" class="fa fa-caret-down"></span>
		          </a>
		        </td>
		        <td>
		          <a href="#" ng-click="sortType = 'closed'; sortReverse = !sortReverse">
		            Closed
		            <span ng-show="sortType == 'closed'" class="fa fa-caret-down"></span>
		          </a>
		        </td>
			</tr>
		</thead>
	    <tbody class="table-issues-body" ng-repeat="x in data | orderBy:sortType:sortReverse | filter:searchData">
	    	<tr class="table-row">
	    		<td class="table-cell table-cell-name">{{x.name}}</td>
	    		<td class="table-cell table-cell-email">{{x.email}}</td>
	    		<td class="table-cell table-cell-description">{{x.description}}</td>
	    		<td class="table-cell table-cell-employee">{{x.employee}}</td>
	    		<td class="table-cell table-cell-status">{{x.status}}</td>
	    		<td class="table-cell table-cell-submitted">{{x.submitted}}</td>
	    		<td class="table-cell table-cell-closed">{{x.closed}}</td>
			</tr>
	 	</tbody>
	</table>

</div>
